.DivStyled {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 120vh;
}

.Div{
    display:flex;
    flex-wrap: wrap;
    height: 65vh;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-between;
}

.DivButtons{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.BotonBack {
    text-decoration: none;
    align-content: center;
    cursor: pointer;
    padding: 25px;
    background-color: #000;
    border-radius: 20px;
    color: white;
    font-size: 2vh;
    margin: 40px auto;
}
.BotonBack2 {
    text-decoration: none;
    align-content: center;
    cursor: pointer;
    padding: 25px;
    background-color: rgb(10, 190, 79);
    border-radius: 20px;
    color: white;
    font-size: 2vh;
    font-weight: 600;
    margin: 40px auto;
}
.SearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.SearchBar input{
    width: 600px;
    padding: 2.5vh;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 15px;
    font-size: 2.5vh;
    color: white;
    margin: 50px auto;
}
.SearchBar button{
    display: flex;
    align-content: center;
    cursor: pointer;
    padding: 1.7vh;
    background-color: rgba(0, 0, 0, 0.356);
    color: greenyellow;
    font-size: 3vh;
    border-radius: 15px;
    margin-left: 20px;
}
.SearchBar button:hover{
    background-color: rgb(137, 134, 134);
    color: greenyellow;
}
