.Formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.Formulario label {
    color:rgb(0, 0, 0);
    font-size: 3vh;
    margin: 20px 0 20px 0;
}

.Formulario input{
    padding: 15px;
    border-radius:14px;
    background-color: rgba(255, 255, 255, 0.585);
}
.Formulario button{
    width: 45%;
    margin: 30px auto;
    padding: 20px;
    font-size: 3.2vh;
    color: greenyellow;
    border-radius: 25px;
    background-color: black;
    transition: all 800ms;
}
.Formulario button:hover{
    cursor:pointer;
    box-shadow: rgb(119, 118, 118) -14px 20px 10px;
    transform: scale(1.02) translateX(10px) translateY(-15px);

}

.div{
    background-color: rgb(255, 255, 255);
    margin:60px auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 80vh;
    border: solid rgb(12, 16, 12) 3px;
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, 
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.Back{
    margin: auto !important;
    width: 23% !important;
    align-items: center;
    justify-content: center;
    color: white !important;
    background-color: rgb(118, 117, 116) !important;
    text-decoration: none !important;
    transition: all 800ms;
}
.Back:hover{
    cursor:pointer;
    box-shadow: black -14px 8px 10px;
    transform: scale(1.02);
}
